
.color01 {background-color: #501360; }
.color02 {background-color: #682a78; }
.color03 {background-color: #80418f; }
.color04 {background-color: #9857a7; }
.color05 {background-color: #b06ebe;}

.color06 { background-color: #9a339f; }
.color07 { background-color: #88268e; }
.color08 { background-color: #761a7c; }
.color09 { background-color: #630d6b; }
.color10 { background-color: #510059; }

.color11 {background-color: #27002b;}
.color12 {background-color: #8d28a740;}
.color13 {background-color: #9320ad80;}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

main{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.jogo{
    width: 20em;
    height: 20em;
    margin: 1em;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px #27002b;
    transition: 0.3s ease;
}

.jogo:hover{
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0px 5px 25px #27002b;
}
.jogo h2{
    margin: 0.25em 0.75em;
    color: #fff;
    font-size: 1.15vw;
}

.jogo button{
    margin: 0.5em 1em;
    width: 90%;
    height: 2em;
}

.jogo p{
    margin: 0.5em 1em;
    color: #fff;
}

.jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70em;
}

.img-jogo{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}

img#carrinho {
    width: 4vw;
    transition: all 0.3s ease;
    margin-left: 32vw;
    margin-top: 3vh;
}

#carrinho:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(-1px);
}

#carrinho:active {
    opacity: 0.6;
    transform: translateY(1px);
}

img#logo {
    width: 5vw;
}

header {
    background-color: #682a78;
    color: white;
}

ul.nav-links,  .nav-links2 {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 6vw;
  gap: 5vw;
  font-weight: bold;
  font-size: 1.5vw;
  margin-top: 5vh;
}

ul.nav-links a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul.nav-links li:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px #b06ebe;
    cursor: pointer;
}

ul.nav-links li:active {
    opacity: 0.7;
}

ul.nav-links li, ul.nav-links2 li {
    transition: all 0.3s ease;  
}

ul.nav-links2 li:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px #b06ebe;
    cursor: pointer;
}

ul.nav-links2 li:active {
    opacity: 0.7;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    align-items: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: rgb(95, 26, 112);
    box-shadow: 0 0 10px 1px #501360;
    box-shadow: 0 0 10px 4px #501360;
    margin-bottom: 4vh;
}

.nav-links2 {
    font-size: 1vw;
    margin: 0;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    margin-left: 7vw;
    gap: 0.5vw;
    padding: 0.4vw;
    transition: all 0.3s ease;
}

form:hover {
    box-shadow: 0 0 5px 3px #8920a3;
}

input {
    border: none;
    outline: none;
    background-color: #501360;
    border-bottom: 1px solid #b06ebe;
    padding: 0.2vw;
    padding-left: 1vw;
    border-radius: 20px;
    width: 25vw;
    height: 3vh;
    font-size: 1vw;
    color: white;
    transition: all 0.3s ease;
}

input::placeholder {
    color: #b06ebe;
}

input:focus {
    border-bottom: 1px solid #9857a7;
    box-shadow: 0 0 10px 1px #9320ad;
}

button[type="submit"] {
    background-color: #77198f;
    color: #ffffff;
    border: none;
    padding: 5px !important;
    box-shadow: 0 0 5px 1px #501360;
    padding: 0.3vw 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #9857a7;
    box-shadow: 0 0 10px 2px #501360;
}

button[type="submit"]:active {
    background-color: #b06ebe;
    box-shadow: 0 0 15px 3px #501360;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
    display: flex;
}

#logo {
    margin-top: 1vh;
    margin-left: 0.5vw;
}

footer {
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: rgb(95, 26, 112);
    box-shadow: 0 0 10px 5px #501360;
    margin-top: 4vh;
}

footer .copy {
    margin-left: 2vw;
}

.preco{
    background-color:#501360;
    width: 40%;
    height: 4em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    box-shadow: 0 0 5px 1px #501360;
}

.legenda{
    display: flex;
    margin-top: 10%;
}


/* item categorias */
.dropdown {
    position: relative;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -1vw;
    background-color: #80418f;
    padding: 10px;
    border-radius: 8px;
    list-style: none;
    min-width: 150px;
}

.submenu li {
    font-size: 0.8vw;
    padding: 5px;
}

.submenu li:hover {
    background-color: #9857a7;
}

.dropdown:hover .submenu {
    display: block;
}

.carrinho {
    width: 70vw;
}

.main-carrinho {
    height: 90vh;
    align-content: baseline !important;
}

.carrinho h1 {
    margin-bottom: 3vh;
}

.c-jogos {
    display: flex;
    padding: 0.6vw;
    box-shadow: 0 0 5px 2px #27002b;
    flex-direction: column;
    gap: 4vh;
    width: 45vw;
    transition: all 0.3s ease; 
}

.c-jogos:hover {
    box-shadow: 0 0 5px 4px #27002b;
}

.c-jogo {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    border-radius: 0px 20px 0px 20px;
    padding: 0.5vw;
    width: 44vw;
    background-color:#9320ad90;
    transition: all 0.3s ease; 
}

.c-jogo:hover {
    transform: scale(1.005);
    box-shadow: 0 0 5px 2px #27002b;
}

.c-jogo .info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 12vw;
}

.c-jogo img {
    transition: all 0.3s ease;
}

.c-jogo img:hover {
    opacity: 0.7;
}

.info h3 {
    text-shadow: 0 0 20px #d22ff7;
}

.info span {
    padding: 0.2vw;
    box-shadow: 0 0 3px 0.5px #27002b;
    border-radius: 20px;
    background-color: #510059;
}

.info h2 {
    font-size: 1.5vw;
    margin-top: 0.5vh;
    text-shadow: 0 0 20px #27002b;
}

.c-jogo .escolhas {
    margin-left: 5vw;
}

.escolhas p {
    text-shadow: 0 0 20px #27002b;
    font-size: 1.2vw;
    margin-top: 6vh;
}

.escolhas button, .pagar {
    border: none;
    padding: 0.3vw;
    font-size: 0.7vw;
    opacity: 0.8;
    background-color: #27002b;
    margin-left: 3vw;
    margin-top: 3vh;
    transition: all 0.3s ease;
}

.escolhas button:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 5px 0.5px #27002b;
}

.pagar {
    width: 20vw !important;
    height: 3.6vh !important;
}

.pagar:hover {
    box-shadow: 0 0 10px 1px white !important;
    background-color: white !important;
    transform: scale(1) !important;
    color: black !important;
}

.pagar:active {
    transform: scale(1.1) !important;
}

.pagamento a {
    padding: 0;
    margin: 0;
}

.escolhas button:active, .pagar:active {
    opacity: 0.5;
}

.c-img-jogo {
    box-shadow: 0 0 5px 1px #77198f;
    border-radius: 5px;
    width: 14vw;
}

.pagamento {
    box-shadow: 0 0 10px 1px #27002b;
    border-top-right-radius: 1vw;
    height: 15vh;
    padding: 1vw;
    background-color: #9320ad;
    display: flex;
    flex-direction: column;
    width: 23vw;
    transition: all 0.3s ease;
}

.pagamento:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 4px #27002b;
}

.total {
    font-size: 0.6vw;
    display: flex;
    flex-direction: row;
    gap: 2.4vw;
}

.conteudo {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.pagamento p {
    font-size: 0.7vw;
}

.pagar {
    opacity: 1;
    margin: 0;
    margin-top: 2.5vh;
}

.cadastro{
    color: white;
    background-color: #b06ebe;
    display: grid; 
    gap: 0.5em;
    width: 26vw;
    height: 70vh;
    padding: 2em;
}

.center a {
    font-size: 0.8vw;
}

.center{
    margin-top: 1em;
    display: grid;
    gap: 1em;
    place-items: center;
}

.center a:hover {
    text-decoration: none;
}

.login{
    color: white;
    background-color: #b06ebe;
    display: grid; 
    gap: 0.5em;
    width: 26vw;
    height: 25em;
    padding: 2em;
}

.botao_enviar{
    background-color: #ffffff;
    color: #27002b;
    width: 50%;
    height: 3em;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.botao_apagar{
    background-color: #27002b;
    color: white;
    width: 50%;
    border-radius: 20px;
    height: 3em;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
}

.botao_apagar:hover, .botao_enviar:hover{
    color: white;
    background-color: #83239b;
    transform: scale(1.03);
    box-shadow: 0 0 10px 2px #27002b;
}

.botao_apagar:active, .botao_enviar:active {
    opacity: 0.3;
    transform: scale(1.2);
}

.login a{
    cursor: pointer;
    color: white;
    font-size: 0.75em;
}

.info-jogo{
    width: 18vw;
    border-radius: 20px 20px 0px 0px ;
    box-shadow: 0 0 10px 0.5px #45014d;
    transition: all 0.3s ease;
}

.info-jogo:hover {
    box-shadow: 0 0 10px 3px #45014d;
}

.desc-jogo{
    height: 10vh;
    font-size:0.9vw;
}

.botoes {
    margin-bottom: 5vh !important;
}

p{
    color: white;
}

.flex{
    display: flex;
}

.comp {
    display: flex;
    gap: 1.5vw;
    flex-direction: row;
}

.classificacao.xyz {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xyz .preco {
    font-size: 1.2vw;
}

.classificacao {
    box-shadow: 0 0 5px 0.5px #27002b;
    width: 8vw;
    height: 8vh;
}

.classificacao h2{
    padding: 0.1vw;
    margin-left: 0.7vw;
    font-size: 1.3vw;
    background-color: red;
    border-radius: 5px;
}

.j-temas {
    margin-left: 0.8vw;
}

.ind {
    margin-top: 0.5vh;
    margin-left: 0.2vw;
    margin-bottom: 1.8vh;
}

.classificacao p{
    max-height: 2vh;
    font-size: 0.5vw;
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw ;
}

.imagens {
    width: 30vw;
}

.imagens img {
    width: 7vw;
    height: 4vw;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 1px black;
}

.imagens img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

video {
    width: 30vw;
    box-shadow: 0 0 3px 1px black;
    transition: all 0.3s ease;
}

video:hover {
    box-shadow: 0 0 3px 2px black;
}

.grande {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 50px;
    z-index: 999;
}

.grande:target {
    display: block;
}

.grande img {
    max-width: 90%;
    max-height: 80%;
}

#pfp-grande1 img  {
    width: 60vw;
    height: auto;
}

#pfp-grande3 img {
    width: 50vw;
    height: auto;
}

#pfp-grande4 img {
    width: 25vw;
    height: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.grande a {
    text-decoration: none;
}

.estrelas img {
    width: 8vw;
}

.estrelas {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8vw;
}

.estrelas p {
    margin-top: 0.3vh;
}

#seisete {
    margin-left: 2vw;
}

.container {
    width: 30vw;
}

.head-jogo {
    padding: 0.6vw;
    gap: 2vw;
    border-radius: 0 0 20px 20px;
    display: flex;
    background-color:#9320ad50;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: row;
    box-shadow: 0 0 10px 1px #27002b;
}

.main-jogo {
    display: flex;
    flex-direction: column;
}

.sobre {
    padding: 1vw;
    margin-top: 2vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    margin-left: 0.5vw;
}

.sobre, .review, .req {
    background-color: #8d28a740;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px 0.5px #8d28a740;
}

.resto h1 {
    font-size: 1.2vw;
    margin-top: 6vh;
    width: 52vw;
    padding-left: 0.5vw;
    box-shadow: 0px 10px 10px -1vh #27002b;
}

.resto {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}

.sobre h2 {
    margin-top: 4.5vh;
    margin-bottom: 3vh;
    font-size: 0.9vw;
}

.sobre p {
    font-size: 0.8vw;
}

.sobre p.desc {
    display: block;
    margin-bottom: 3vh;
}

div.req {
    display: block;
    margin-top: 2.5vh;
    padding: 0.5vw;
    margin-left: 0.5vw;
}

.req p {
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 0.8vw;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    gap: 5vh
}

.info-review {
    margin-left: 0.5vw;
    display: flex;
    flex-direction: row;
    gap: 0.7vw;
    width: 15vw;
}

.info-review h4 {
    margin-top: 1vh;
    font-size: 0.9vw;
    margin-bottom: 0.6vh;
}

.info-review p {
    font-size: 0.8vw;
    opacity: 0.7;
}

.info-review img, .info-review a {
    width: 4vw;
    height: 4vw;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 0 10px 0.4px black;
    transition: all 0.3s ease;
}

.info-review img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.info-review img:active {
    opacity: 0.4;
    transform: scale(1.4);
}

.info-review div {
    display: block;
}

.review {
    display: flex;
    padding: 0.5vw;
    flex-direction: row;
}

.corpo-review {
    display: flex;
    flex-direction: column;
    width: 33vw;
}

.corpo-review p {
    font-size: 0.8vw;
}

.data {
    opacity: 0.6;
    margin-bottom: 2vh;
    font-size: 0.7vw !important;
}

.horas {
    opacity: 0.9;
    margin-top: 1.7vh;
    margin-left: 1,5vw;
}

.head-review img {
    margin-top: 0.5vh;
    width: 10vw;
    height: 4vh;
    object-fit: cover;
}

.head-review {
    display: flex;
    border-radius: 200px;
    padding-bottom: 1vh;
    background-color: #8d28a740;
    margin-bottom: 1.8vh;
}

.corpo2-review {
    margin-left: 0.5vw;
    margin-bottom: 2vh;
}

.tags ul {
    display: flex;
    width: 7.4vw;
    padding: 0.9vw;
    padding-right: 0.4;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 4vh;
    list-style-type: none;
    font-size: 0.8vw;
    box-shadow: 0 0 10px 0.5px #45014d;
    transition: all 0.3s ease;
    border-radius: 1vw;
    background-color: #9320ad70;;
}

.tags ul:hover {
    box-shadow: 0 0 10px 3px #45014d;
}

.tags ul li {
    transition: all 0.3s ease;
    width: 6.7vw;
    padding: 0.4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.tags ul li:hover {
    background-color: #a730c570;
    cursor: pointer;
    transform: scale(1.05);
}

.tags ul li:active {
    cursor: pointer;
    opacity: 0.4;
    transform: scale(1.1);
}

.main-pagamento {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 63vh;
}

.main-pagamento h1 {
    margin-bottom: 12vh;;
}

.credito div {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    gap: 0.4vw !important;
    justify-content: center;
    align-items: center;
}

.debito div button {
    width: 100%;
    height: 5vh !important;
}

.credito div button:hover, .debito div button:hover {
    box-shadow: 0 0 10px 2px #27002b;
}

.main-pagamento .formas-pag {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    background-color: #8d28a7;
    padding: 2vw;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px 2px #27002b
}

.credito, .debito {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
}

.debito div button {
    margin-top: 2vh;
    background-color: rgb(56, 17, 231);
    font-weight: bolder;
    color: white;
}

.debito div button, .credito div button {
    height: 5vh;
    font-size: 0.8vw;
}

.pix div button, .boleto div button {
    margin-left: 0;
}

.formas-pag div {
    width: 13.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pix h2, .boleto h2, .credito h2, .debito h2 {
    font-size: 1.3vw;
}

.b-pix.botao_enviar {
    background-color: rgb(180, 7, 88);
}

.b-boleto.botao_enviar {
    background-color: rgb(255, 94, 0);
}

.b-pix:hover, .b-boleto:hover {
    background-color: #83239b;
}

.main-log {
    height: 67.9vh;
}