/*
.color1 {background-color: #501360 }
.color2 {background-color: #682a78 }
.color3 {background-color: #80418f }
.color4 {background-color: #9857a7 }
.color5 {background-color: #b06ebe }

parte 2:
.color6 { #9a339f };
.color7 { #88268e };
.color8 { #761a7c };
.color9 { #630d6b };
.color10 { #510059 };
*/
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #510059;
}

main{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.jogo{
    width: 20em;
    height: 20em;
    background-color: #88268e;
    margin: 1em;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px #27002b;
    transition: 0.3s ease;
}

.jogo:hover{
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0px 5px 25px #27002b;
}
.jogo h2{
    margin: 0.25em 0.75em;
    color: #fff;
    font-size: 1.15vw;
}

.jogo button{
    margin: 0.5em 1em;
    color: #fff;
    background-color: #9857a7;
    border-style:ridge;
    width: 90%;
    height: 2em;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    border-color: #27002b;
}

.jogo button:hover{
    background-color: #b06ebe;
}
.jogo p{
    margin: 0.5em 1em;
    color: #fff;
}

.jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70em;
}

.img-jogo{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}

img#carrinho {
    width: 4vw;
    transition: all 0.3s ease;
    margin-left: 32vw;
    margin-top: 3vh;
}

#carrinho:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(-1px);
}

#carrinho:active {
    opacity: 0.6;
    transform: translateY(1px);
}

img#logo {
    width: 5vw;
}

header {
    background-color: #682a78;
    color: white;
}

ul.nav-links,  .nav-links2 {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 6vw;
  gap: 5vw;
  font-weight: bold;
  font-size: 1.5vw;
  margin-top: 5vh;
}

ul.nav-links a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul.nav-links li:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px #b06ebe;
    cursor: pointer;
}

ul.nav-links li:active {
    opacity: 0.7;
}

ul.nav-links li, ul.nav-links2 li {
    transition: all 0.3s ease;  
}

ul.nav-links2 li:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px #b06ebe;
    cursor: pointer;
}

ul.nav-links2 li:active {
    opacity: 0.7;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    align-items: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: rgb(95, 26, 112);
    box-shadow: 0 0 10px 1px #501360;
    box-shadow: 0 0 10px 4px #501360;
    margin-bottom: 4vh;
}

.nav-links2 {
    font-size: 1vw;
    margin: 0;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    margin-left: 7vw;
    gap: 0.5vw;
    padding: 0.4vw;
    transition: all 0.3s ease;
}

form:hover {
    box-shadow: 0 0 5px 3px #8920a3;
}

input {
    border: none;
    outline: none;
    background-color: #501360;
    border-bottom: 1px solid #b06ebe;
    padding: 0.2vw;
    padding-left: 1vw;
    border-radius: 20px;
    width: 25vw;
    height: 3vh;
    font-size: 1vw;
    color: white;
    transition: all 0.3s ease;
}

input::placeholder {
    color: #b06ebe;
}

input:focus {
    border-bottom: 1px solid #9857a7;
    box-shadow: 0 0 10px 1px #9320ad;
}

button[type="submit"] {
    background-color: #77198f;
    color: #ffffff;
    border: none;
    padding: 5px !important;
    box-shadow: 0 0 5px 1px #501360;
    padding: 0.3vw 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #9857a7;
    box-shadow: 0 0 10px 2px #501360;
}

button[type="submit"]:active {
    background-color: #b06ebe;
    box-shadow: 0 0 15px 3px #501360;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
    display: flex;
}

#logo {
    margin-top: 1vh;
    margin-left: 0.5vw;
}

footer {
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: rgb(95, 26, 112);
    box-shadow: 0 0 10px 5px #501360;
    margin-top: 4vh;
}

footer .copy {
    margin-left: 2vw;
}

.preco{
    background-color:#501360;
    width: 40%;
    height: 4em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    box-shadow: 0 0 5px 1px #501360;
}

.legenda{
    display: flex;
    margin-top: 10%;
}


/* item categorias */
.dropdown {
    position: relative;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -1vw;
    background-color: #80418f;
    padding: 10px;
    border-radius: 8px;
    list-style: none;
    min-width: 150px;
}

.submenu li {
    font-size: 0.8vw;
    padding: 5px;
}

.submenu li:hover {
    background-color: #9857a7;
}

.dropdown:hover .submenu {
    display: block;
}

.carrinho {
    width: 60vw;
}

c.jogos {
    padding: 1vw;
    background-color: #27002b;
    flex-direction: column;
    gap: 1vh;
}

.c-jogo {
    background-color:#9320ad;
}

.c-img-jogo {
    width: 15vw;
}

.cadastro{
    color: white;
    background-color: #b06ebe;
    display: grid; 
    gap: 0.5em;
    width: 26vw;
    height: 60vh;
    padding: 2em;
}


.center{
    margin-top: 1em;
    display: grid;
    gap: 1em;
    place-items: center;
}

.login{
    color: white;
    background-color: #b06ebe;
    display: grid; 
    gap: 0.5em;
    width: 26vw;
    height: 25em;
    padding: 2em;
}

.botao_enviar{
    background-color: #ffffff;
    color: #27002b;
    width: 50%;
    height: 3em;
    border-radius: 20px;
}

.botao_apagar{
    background-color: #27002b;
    color: white;
    width: 50%;
    border-radius: 20px;
    height: 2em;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.botao_apagar:hover{
    background-color: #501360;
    box-shadow: 0 0 10px 2px #501360;
}

.login a{
    cursor: pointer;
    color: white;
    font-size: 0.75em;
}

.container {
    width: 50vw ;
}

.imagens {
    width: 30vw;
}

.imagens img {
    width: 7vw;
    height: 4vw;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px 1px black;
}

.imagens img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

video {
    width: 30vw;
    box-shadow: 0 0 3px 1px black;
    transition: all 0.3s ease;
}

video:hover {
    box-shadow: 0 0 3px 2px black;
}

.grande {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 50px;
    z-index: 999;
}

.grande:target {
    display: block;
}

.grande img {
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.grande a {
    text-decoration: none;
}

.estrelas img {
    width: 8vw;
}

.estrelas {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8vw;
}

.estrelas p {
    margin-top: 0.3vh;
}

#seisete {
    margin-left: 2vw;
}

.container {
    background-color:#27002b;
    width: 30vw;
    padding: 1vw;
    border-radius: 20px;
}